<div class=" col-md-6 col-md-offset-3">
  <div class="new-book-form">

    <h2> Modificando informacion </h2>

    <% if @book.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@book.errors.count, "Error") %> Antes de guardar: </h2>

          <ul>
            <% @book.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <%end%>

          </ul>
        </div>
    <%end%>

    <%= simple_form_for @book, :html =>{:multipart => true} do |f| %>
        <%= f.select :category_id, @categories%>
        <%= f.input :titulo, label:"Titulo del libro" %>
        <%= f.file_field :book_img %>
        <%= f.input :descripcion %>
        <%= f.input :autor %>
        <%= f.file_field :book_pdf %>
        <%= f.button :submit, :class => "btn-custom2"%>
    <% end %>

    <%= link_to "Volver", root_path%>

  </div>
</div>