<div class="row">
  <div class="col-md-4">
      <%= image_tag @book.book_img.url(:book_show), class: "book-show" %>
  </div>

  <div class="col-md-8">
    <div class=" book-info">

      <h2 class="book-title"><%= @book.titulo %></h2>
      <h3 class="book-author"><span>De: </span><%= @book.autor%></h3>
      <h4>categoria: <%= @book.category.name %></h4>
      <h2 class="avg-rating">Puntuacion</h2>
      <div class="average-review-rating" data-score=<%= @average_review %>></div>
      <p class="book-desc"><%= @book.descripcion%></p>

      <%=  link_to 'Documento', @book.book_pdf.url, class: "btn btn-custom" %>

    </div>
  </div>
</div>


  <div class="row">
    <div class="col-md-12">
      <div class = "reviews">
        <h2>Analisis</h2>
          <%= render @book.reviews %>
          <div>
            <%= link_to "Agregar revision", new_book_review_path(@book), class: "btn-custom" %>
          </div>
      </div>
    </div>
  </div>


<div class = "links btn-group">
<%= link_to "Volver", root_path, class: "btn btn-custom" %>

  <%if user_signed_in? %>
      <% if @book.user_id == current_user.id %>
          <%= link_to "Editar", edit_book_path(@book),class: "btn btn-custom" %>
          <%= link_to "Eliminar", book_path(@book), method: :delete,data:{confirm: "¿Estas seguro?"}, class: "btn btn-custom" %>
      <%end%>
  <%end%>

</div>

<script>
  $('.review-rating').raty({
    readOnly: true,
    score: function(){
      return $(this).attr('data-score');
    },
    path: '/assets/'
  });
</script>

<script>
  $('.average-review-rating').raty({
    readOnly: true,
    score: function(){
      return $(this).attr('data-score');
    },
    path: '/assets/'
  });
</script>