<%= simple_form_for([@book, @book.reviews.build]) do |f| %>

    <% if @review.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@review.errors.count, "Error") %> Error </h2>

          <ul>
            <% @review.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <%end%>

          </ul>
        </div>
    <%end%>

    <%= f.input :rating %>
    <%= f.input :comentario %>
    <%= f.button :submit, :class => "btn-custom2" %>
<% end %>

